.App {
  text-align: center;
  border: 2px solid #cecece;
  width: 30%;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
}
button{
  padding: 15px;
  color: white;
  background-color: black;
  margin: 15px;
  border-radius: 5px;
}
